# --- Assigned by Astraea Webserver (Do not change) ---
# helps keep the server identified, the uuid acts as a the 'true' source
UUID=

# --- Astraea Webserver Settings ---
# Values are edited when 'install_agent.sh' from the webserver runs
API_KEY=
BASE_URL=

# --- Patching settings ---
# Warning: Values are edited when 'install_agent.sh' from the webserver runs
#          If not installing via script or modifying after, changes can be made

# Auto remove packages (aka - apt autoremove)
DISABLE_AUTOREMOVE=False

# Enable '--allow-releaseinfo-change' to be used within apt, to confirm changes to a repo's data. 
# Otherwise this can cause the update to fail. (Disabled by default, usually not needed, monitor logs to determine)
ENABLE_APT_ALLOW_RELEASE_INFO_CHANGE=False

# Reboot after successful patching - will reboot regardless of if it installed patches, as long as the script ran successfully
REBOOT_ON_SUCCESS=False

# Reboot after updates have been installed. * Warning: 'REBOOT_ON_SUCCESS' takes priority, it will reboot the server if set to 'True'
REBOOT_AFTER_UPDATES=True

# Maximum number of days before a reboot happens regardless - set to 0 to disable
MAX_ALLOWED_UPTIME_DAYS=20

# Downsides of not using 'Dev', 'Production' or 'Pre-Production' is lack of formatting in the /servers/ tab of Astraea
ENV=
# String value, for example '10am Wednesday Weeks 1 & 3'
PATCH_SCHEDULE=